.wrapper__footer {
    max-width: 1440px;
    margin: 0 auto;

    &-logo-part {
        background: #FAFAFA;
        max-height: 173px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 12px;
        padding: 53px 0 40px 44px;

        &-name {
            color: #252B42;
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: 0.1px;
        }

        &-images {
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }

    &-list {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 70px 46px 70px 46px;

        &-items {
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: #737373;
            font-size: 14px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.2px;

            &-title {
                color: #252B42;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0.1px;
                padding-bottom: 10px;
            }
        }

        &-form-title {
            color: #252B42;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.1px;
        }

        &-form {
            display: flex;
            align-items: center;
            max-width: 321px;

            &-input {
                position: relative;
                display: flex;
                width: 321px;
                min-height: 58px;
                padding: 15px 107px 15px 20px;
                align-items: center;
                border-radius: 5px;
                border: 1px solid #E6E6E6;
                background: #F9F9F9;
            }

            &-button {
                position: absolute;
                right: 0;
                margin-right: 47px;
                display: flex;
                max-width: 117px;
                min-height: 58px;
                padding: 15px 22.5px;
                justify-content: center;
                align-items: center;
                border-radius: 0px 5px 5px 0px;
                border: 1px solid #E6E6E6;
                background: #23A6F0;
                color: #FFF;
                text-align: center;
                font-size: 14px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 0.2px;
            }

            &-lorem-text {
                color: #737373;
                font-size: 12px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 0.2px;
            }
        }
    }

    &-about-right {
        display: flex;
        width: 413px;
        flex-direction: column;
        align-items: center; 
        max-width: 193px;
        min-height: 48px;
        color: #737373;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.2px;
        padding: 25px 110.5px;
    }
}