.hero-section {

    &__wrapper {
        max-width: 1440px;
        margin: 0 auto;

        &-content {
            position: relative;
            margin: 0 13px;
            display: flex;
            max-width: 388px;
            min-height: 824px;
            padding-top: 80px;
            flex-direction: column;
            align-items: center;
            gap: 33px;
            border-radius: 20px;
            background: linear-gradient(90deg, #96E9FB 0%, #ABECD6 100%);

            &-date {
                color: #2A7CC7;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0.1px;
            }

            &-title {
                max-width: 268px;
                max-height: 100px;
                color: #252B42;
                text-align: center;
                font-size: 40px;
                font-weight: 700;
                line-height: 50px;
                letter-spacing: 0.2px;
            }

            &-description {
                max-width: 291px;
                max-height: 90px;
                color: #737373;
                text-align: center;
                font-size: 20px;
                font-weight: 400;
                line-height: 30px;
                letter-spacing: 0.2px;
            }

            &-button {
                max-width: 225px;
                min-height: 62px;
                display: flex;
                padding: 15px 40px;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                border-radius: 5px;
                border: 0;
                background: #23A6F0;
                color: #FFF;
                text-align: center;
                font-size: 24px;
                font-weight: 700;
                line-height: 32px;
                letter-spacing: 0.1px;
            }

            &-image {
                position: absolute;
                bottom: -4px;
            }
        }

    }
}

.first-section {

    .first-section__wrapper {
        max-width: 1440px;
        margin: 0 auto;

        &-list {
            padding: 130px 0 152px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 60px;
        }
    }
}

.second-section {

    &__wrapper {
        max-width: 1440px;
        margin: 0 auto;

        &-items {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin: 0 35px;
            overflow: hidden;

            &-image {
                display: flex;
                align-items: center;
                position: relative;

                &-bg {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    min-width: 345px;
                    min-height: 238px;
                    background-color: rgba(45, 139, 192, 0.75);

                    &-content {
                        position: absolute;
                        left: 41px;
                        bottom: 36px;

                        span {
                            margin: 0;
                            font-size: 24px;
                            font-weight: 700;
                            line-height: 30px;
                            letter-spacing: 0.1px;
                            color: #fff;
                        }

                        button {
                            font-weight: 700;
                            font-size: 14px;
                            min-width: 198px;
                            min-height: 52px;
                            margin: 26px 0 0;
                            padding: 15px 40px;
                            border: 1px solid #fff;
                            border-radius: 5px;
                            background: none;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

.third-section {

    &__wrapper {
        max-width: 1440px;
        margin: 0 auto;

        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;



            &-title {
                padding: 104px 87.5px 10px;
                max-width: 239px;
                color: #252B42;
                text-align: center;
                font-size: 24px;
                font-weight: 700;
                line-height: 32px;
                letter-spacing: 0.1px;
            }

            &-subtitle {
                max-width: 261px;
                color: #737373;
                text-align: center;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0.2px;
            }

            &-flex {
                padding: 56px 59.5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 30px;

                &-items {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    &-text {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 10px;
                        padding: 25px 25px 35px 25px;

                        h3 {
                            max-width: 131px;
                            color: #252B42;
                            text-align: center;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 24px;
                            letter-spacing: 0.1px;
                        }

                        &-department {
                            color: #737373;
                            text-align: center;
                            font-size: 14px;
                            font-weight: 700;
                            line-height: 24px;
                            letter-spacing: 0.2px;
                        }

                        &-price {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 5px;
                            color: #BDBDBD;
                            text-align: center;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 24px;
                            letter-spacing: 0.1px;

                            span {
                                color: #23856D;
                            }
                        }
                    }
                }
            }

            button {
                border-radius: 5px;
                border: 1px solid #23A6F0;
                background: none;
                padding: 15px 40px;
                min-width: 256px;
                min-height: 52px;
                margin-top: 5px;
                margin-bottom: 160px;
                color: #23A6F0;
                text-align: center;
                font-size: 14px;
                font-weight: 700;
                letter-spacing: 0.2px;
                text-transform: uppercase;
            }
        }
    }
}

.fourth-section {

    &__wrapper {
        max-width: 1440px;
        margin: 0 auto;

        &-items {
            padding-left: 52px;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 16px;
            padding-bottom: 50px;

            &-subtitle {
                color: #23A6F0;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0.1px;
            }

            &-title {
                max-width: 246px;
                color: #252B42;
                font-size: 40px;
                font-weight: 700;
                line-height: 50px;
                letter-spacing: 0.2px;
            }

            &-description {
                max-width: 258px;
                color: #737373;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0.2px;
            }
        }

        &-images {
            padding: 0 20.5px;
            display: flex;
            gap: 12px;
        }
    }
}

.fifth-section {

    &__wrapper {
        max-width: 1440px;
        margin: 0 auto;

        &-about {
            padding: 161px 0 115px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            &-subtitle {
                color: #737373;
                text-align: center;
                font-size: 20px;
                font-weight: 400;
                line-height: 30px;
                letter-spacing: 0.2px;
            }

            &-title {
                color: #252B42;
                text-align: center;
                font-size: 24px;
                font-weight: 700;
                line-height: 32px;
                letter-spacing: 0.1px;
            }

            &-description {
                color: #737373;
                text-align: center;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0.2px;
            }
        }

        &-items {
            display: flex;
            flex-direction: column;
            align-items: center;

            &-flex {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;

                h3 {
                    max-width: 235px;
                    color: #252B42;
                    text-align: center;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 32px;
                    letter-spacing: 0.1px;
                }

                span {
                    max-width: 225px;
                    color: #737373;
                    text-align: center;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0.2px;
                    padding-bottom: 100px;
                }
            }
        }
    }
}

.sixth-section {

    &__wrapper {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 30px;

        &-posts {
            padding-top: 105px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            padding-bottom: 80px;

            &-subtitle {
                color: #23A6F0;
                text-align: center;
                font-size: 14px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0.2px;
            }

            &-title {
                color: #252B42;
                text-align: center;
                font-size: 40px;
                font-weight: 700;
                line-height: 50px;
                letter-spacing: 0.2px;
            }
        }

        &-item {
            max-width: 330px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #FFF;
            margin-left: 42px;
            margin-right: 42px;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
  
            &-menu {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 25px 25px 35px 25px;

                &-items {
                    display: flex;
                    gap: 15px;

                    &-not-active {
                        color: #737373;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 16px;
                        letter-spacing: 0.2px;
                    }

                    &-active {
                        color: #8EC2F2;
                    }
                }

                &-title {
                    max-width: 247px;
                    color: #252B42;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 30px;
                    letter-spacing: 0.2px;
                }

                &-description {
                    max-width: 280px;
                    color: #737373;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0.2px;
                }

                &-info {
                    display: flex;
                    padding: 15px 0px;
                    justify-content: space-between;
                    align-items: center;
                    align-self: stretch;
                    gap: auto;

                    &-date {
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        span {
                            color: #737373;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 16px;
                            letter-spacing: 0.2px;
                        }
                    }

                    &-comments {
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        span {
                            color: #737373;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 16px;
                            letter-spacing: 0.2px;
                        }
                    }
                }

                &-learn {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: #737373; 
                    font-size: 14px; 
                    font-weight: 700;
                    line-height: 24px; 
                    letter-spacing: 0.2px;
                }
            }
        }
    }
}